</div>
</div>
<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<section>
			<h2>About this work</h2>
			<p>
				We thank Andrew Hertzberg,
				Neale Mahoney, Holger Mueller, Philipp Schnabl, Johannes Stroebel, and seminar participants at Booth Micro Lunch,
				Boston College, CKGSB, CUHK, EIEF, Erasmus, ITAM, PBC Tsinghua, and Tilburg for comments and suggestions. This research was funded in part by the
				Fama-Miller Center for Research in Finance at the University of Chicago Booth School of Business. We thank Sinacofi
				for providing the data. All errors and omissions are ours only.</br>First version: October 2017.
			</p>
			<p>
				We thank Sean Hyland and <a href="https://sites.google.com/site/jordanrosenthalkay/">Jordan Rosenthal-Kay</a>, who provided excellent research assistance. 
			</p>
			<ul class="icons">
				{% if site.twitter_username %}
				<li><a href="https://twitter.com/{{ site.twitter_username }}" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
				{% endif %}
				{% if site.facebook_URL %}
				<li><a href="{{ site.facebook_URL }}" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
				{% endif %}
				{% if site.instagram_username %}
				<li><a href="https://www.instagram.com/{{ site.instagram_username }}" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
				{% endif %}
				{% if site.dribbble_username %}
				<li><a href="#" class="icon style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
				{% endif %}
				{% if site.github_username %}
				<li><a href="https://github.com/{{ site.github_username }}" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
				{% endif %}
				{% if site.500px_username %}
				<li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
				{% endif %}
				{% if site.phone %}
				<li><a href="#" class="icon style2 fa-phone"><span class="label">Phone</span></a></li>
				{% endif %}
				{% if site.email %}
				<li><a href="mailto:{{ site.email }}" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
				{% endif %}
			</ul>
		</section>
		<section>
			<h2>About the authors</h2>
			{% for author in site.data.authors %}
				<p style="margin-bottom:.75em">
					{{ author.name }} is at {{ author.affiliation }}</br>
					<a href="mailto:{{ author.email }}">
					{{ author.email }}
				</a></p>
			{% endfor %}
		</section>
		<ul class="copyright">
			<li>&copy; {{ site.title }}. All rights reserved.</li>
			<li>Developed by <a href="https://acarril.github.io/">Alvaro Carril</a></li>
			<li>Original design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>
	</div>

</footer>

</div>

<!-- Scripts -->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/skel.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js"></script>
